@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Great+Vibes&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

    *{
        margin: 0;
        padding: 0;
    }

    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
    }

    main {
        flex: 1;
        padding-bottom: 30px;
        
    }

    /*PARTE CIMA HEADER ############################*/
    .partecima{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: solid rgba(175, 175, 175, 0.507) 0.5px;
        /*padding: 10px 40px 0px 40px;*/
        margin: 10px 40px 0px 40px;
    }

    .partecima img{
        height: 17px;  
    }

    .partecima p{
        font-family: Comfortaa;
        font-size: 15px;
        color: rgb(148,56,56);
    }

    /*PARTE DE BAIXO HEADER######################################*/


    .partebaixo{
        display: flex;
        justify-content: space-between;
        padding: 10px 40px 0px 40px;
        align-items: center;
        border-bottom: solid 3px rgb(153, 115, 98);
    }
    .partebaixo img{
        height: 30px;
    }

/*ESQUERDA*/
    .logo{
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: Great Vibes;
        font-size: 33px;
        color: rgb(48,7,4);
    }

    .logo img{
        height: 40px;
    }

    .direita{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .linktop{
        width: 470px;
    }

    .linktop a{
        text-decoration: none;
        padding-right: 40px;
        color:black ;
        font-family: Comfortaa;
        font-size: 15px;
    }
    
    .linktop a:hover{
        color: brown;
    }
    
    .cart{
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(90, 23, 14);
        border-radius: 10px;
        padding: 4px;
        color: rgb(234,220,190);
    }


    .btn-cart{
        text-decoration: none;
        color: white;
        font-family: Comfortaa;
    }
    
   .cart img{
        padding-right: 5px;
        height: 17px;
    }


    /*SEPARA#####################################################################################*/

    .objetivo{
        display: flex;
        height: 500px;
        align-items: center;
        justify-content: center;
        padding: 30px 40px 100px 150px;
    }

    .esquerda-obj{
        height: 500px;
        padding-right: 50px;
    }
    .esquerda-obj img{
        height: 100%;
        width: 400px;
        border-radius: 100%;
    }

    .direita-obj{
        height: 500px;
        max-width: 700px;
        display: flex;
        flex-flow: column;
        justify-content: center;
        font-size: 20px;
        font-family: comfortaa;
        padding-left: 50px;
    }

    .direita-obj h2{
        color: rgb(128, 45, 6);
    }

    hr{
        height: 3px;
        background-color: rgb(153, 115, 98);
    }

    .historia{
        background-image: linear-gradient(90deg, transparent 0%, rgb(66, 42, 42) 75%), url("../img/pexels-njeromin-19711451.jpg");
        height: 400px;
        display: flex;
        align-items: end;
        flex-flow: column;
        padding-top: 30px;
        font-family: Comfortaa;
        justify-content: center;
    }

    .txth{
        text-align: center;
        padding-right: 100px;
    }


    .historia h3{
        font-size: 30px;
        color: rgb(236, 216, 206);
    }
    .historia p{
        color: white;
        text-align: center;
        font-size: 20px;
        max-width: 900px;
        text-align: center;
    }



    .funcionamos{
        display: flex;
        height: 500px;
        align-items: center;
        justify-content: center;
    }

    .dir-func{
        height: 300px;
        padding-right: 10px;
    }

    .dir-func img{
        height: 100%;
        width: 400px;
        border-radius: 50%;
    }

    .esq-func{
        height: 500px;
        max-width: 600px;
        display: flex;
        flex-flow: column;
        justify-content: center;
        font-size: 20px;
        font-family: comfortaa;
        padding-right: 50px;
    }


    .esq-func h4{
        font-size: 30px;
        color: rgb(128, 45, 6);
    }


    footer{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(82, 54, 41);
        color: white;
        height: 60px;
        font-family: IBM Plex Sans;
        padding: 20px;
    }