@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Great+Vibes&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

*{
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

main {
    flex: 1;
}

/*PARTE CIMA HEADER ############################*/
.partecima{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid rgba(175, 175, 175, 0.507) 0.5px;
    /*padding: 10px 40px 0px 40px;*/
    margin: 10px 40px 0px 40px;
}

.partecima img{
    height: 17px;  
}

.partecima p{
    font-family: Comfortaa;
    font-size: 15px;
    color: rgb(148,56,56);
}

/*PARTE DE BAIXO HEADER######################################*/


.partebaixo{
    display: flex;
    justify-content: space-between;
    padding: 10px 40px 0px 40px;
    align-items: center;
    border-bottom: solid 3px rgb(153, 115, 98);
}
.partebaixo img{
    height: 30px;
}

/*ESQUERDA*/
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Great Vibes;
    font-size: 33px;
    color: rgb(48,7,4);
}

.logo img{
    height: 40px;
}

.direita{
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    .linktop a{
        text-decoration: none;
        color:black ;
        padding-right: 40px;
        font-family: Comfortaa;
        font-size: 15px;
    }
    
    .linktop a:hover{
        color: brown;
    }
    
    .cart{
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(90, 23, 14);
        border-radius: 10px;
        padding: 4px;
        color: rgb(234,220,190);
        
    }
    
    .cart img{
        padding-right: 5px;
        height: 17px;
    }

    /*MAIN #################################*/

    .caixaprodutos{
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        padding: 30px;
        font-family: IBM Plex Sans;
        background-color: rgb(108,13,12);
    }


    /*CAIXOTES#######################*/

    .caixa1{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        height: 400px;
        width: 300px;
        border-radius: 10px;
        box-shadow: inset -3px -4px 2px #5c5c5c;
    }
    .caixa1 img{
        width: 290px;
        height: 300px;
    }

    .caixa2{
        background-color: black;
        height: 50%;
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .containerProdutos1{
        display: flex;
        justify-content: space-between;
        border: solid pink 3px;
        padding: 50px 50px 0px 50px;
        
    }
    
    .containerProdutos2{
        display: flex;
        justify-content: space-between;
        border: solid pink 3px;
        padding: 50px 50px 0px 50px;
        
    }

    .containerProdutos3{
        display: flex;
        justify-content: space-between;
        border: solid pink 3px;
        padding: 50px 50px 0px 50px;
        
    }

    .containerProdutos4{
        display: flex;
        justify-content: space-between;
        border: solid pink 3px;
        padding: 50px 50px 0px 50px;
        
    }


    #tenis1 img{
        height: 100%;
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .dados-produto{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }

    .btn-reduzir{
        width: 30px;
        background-color: red;
        color: white;
        border-radius: 5px;
        margin: 10px;
    }

    .btn-reduzir:hover{
        background-color: rgb(255, 107, 107);
    }

    .btn-adicionar{
        width: 30px;
        background-color: rgb(16, 173, 16);
        color: white;
        border-radius: 5px;
        margin: 10px;
    }
