@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Great+Vibes&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

    *{
        margin: 0;
        padding: 0;
    }

    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
    }

    main {
        flex: 1;
        padding-bottom: 30px;
        
    }

    /*PARTE CIMA HEADER ############################*/
    .partecima{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: solid rgba(175, 175, 175, 0.507) 0.5px;
        /*padding: 10px 40px 0px 40px;*/
        margin: 10px 40px 0px 40px;
    }

    .partecima img{
        height: 17px;  
    }

    .partecima p{
        font-family: Comfortaa;
        font-size: 15px;
        color: rgb(148,56,56);
    }

    /*PARTE DE BAIXO HEADER######################################*/


    .partebaixo{
        display: flex;
        justify-content: space-between;
        padding: 10px 40px 0px 40px;
        align-items: center;
        border-bottom: solid 3px rgb(153, 115, 98);
    }
    .partebaixo img{
        height: 30px;
    }

/*ESQUERDA*/
    .logo{
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: Great Vibes;
        font-size: 33px;
        color: rgb(48,7,4);
    }

    .logo img{
        height: 40px;
    }

    .direita{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .linktop{
        width: 470px;
    }

    .linktop a{
        text-decoration: none;
        padding-right: 40px;
        color:black ;
        font-family: Comfortaa;
        font-size: 15px;
    }
    
    .linktop a:hover{
        color: brown;
    }
    
    .carrinho{
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(90, 23, 14);
        border-radius: 10px;
        padding: 4px;
        color: rgb(234,220,190);
        transition: 0.5s;
    }
     
    .carrinho img{
        width: 20px;
        text-align: center;
        height: 20px;
    }
     
    .carrinho:hover{
        background-color: rgb(138, 82, 57);
    }
     
    #add_carrinho::before{
        content: attr(data-count);
        background-color: rgb(90, 23, 14);
        width: 20px;
        height: 20px;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgb(255, 255, 255);
        font-weight: 700;
        position: absolute;
        right: 1.5%;
    }
     
    #add_carrinho[data-count='0']::before{
        display: none;
    }

    /*MAIN #################################*/

    .caixaprodutos{
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        padding: 30px;
        font-family: IBM Plex Sans;
        background-color: rgb(108,13,12);
    }


    /*CAIXOTES#######################*/

    .caixa1{
        font-family: Comfortaa;
        background-color: rgb(90, 23, 14);
        color: white;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        height: 400px;
        width: 300px;
        border-radius: 10px;
        box-shadow: inset -2px -4px 2px #000000;
        border: solid rgb(0, 0, 0) 1px;
    }
    .caixa1 img{
        width: 255px;
        height: 302px;
        border-radius: 5px;
    }

    .caixa2{
        
        width: 90%;
        height: 70%;
    }

    .caixa2 img{
        height: 100%;
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .dados-produto{
        padding-top: 10px;

    }


    .containerProdutos1{
        margin-left: 90px;
        margin-right: 90px;
        display: flex;
        justify-content: space-between;
        padding: 80px 80px 0px 80px;
        
    }
    
    .containerProdutos2{
        margin-left: 90px;
        margin-right: 90px;
        display: flex;
        justify-content: space-between;
        
        padding: 80px 80px 0px 80px;
        
    }

    .containerProdutos3{
        margin-left: 90px;
        margin-right: 90px;
        display: flex;
        justify-content: space-between;
        
        padding: 80px 80px 0px 80px;
        
    }

    .containerProdutos4{
        margin-left: 90px;
        margin-right: 90px;
        display: flex;
        justify-content: space-between;
        
        padding: 80px 80px 30px 80px;
        
    }


    #tenis1 img{
        height: 100%;
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .dados-produto{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }

    .btn-reduzir{
        width: 30px;
        background-color: red;
        color: white;
        border-radius: 5px;
        margin: 10px;
    }

    .btn-reduzir:hover{
        background-color: rgb(255, 107, 107);
    }

    .btn-adicionar{
        width: 30px;
        background-color: rgb(16, 173, 16);
        color: white;
        border-radius: 5px;
        margin: 10px;
    }

    .footer{

        display: flex;
        align-items: center;
        justify-content: center;
        background:linear-gradient(180deg, rgb(255, 222, 206) 0px, rgb(72,10,4)40%);
        color: white;
        height: 70px;
        font-family: IBM Plex Sans;
    }

